#fiexd-header {
background: -webkit-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
background: -moz-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
background: -o-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#006BDC, endColorstr=rgb(61, 126, 255) no-repeat);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#006BDC, endColorstr=rgb(61, 126, 255) no-repeat)";
color: #FFFFFF;
font-size: 1em;
border-bottom: 2px solid #0041CA;
width: 100%;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 100;
-moz-box-shadow: 0 2px 10px #cbcbcb;
-webkit-box-shadow: 0 2px 10px #cbcbcb;
box-shadow: 0 2px 10px #cbcbcb;
}
#headNav {
width: 100%;
height: 44px;
color: #FFFFFF;
position: relative;
top: 0px;
z-index: 101;
}
#headNav table {
position: relative;
display: table;
width: 100%;
height: 40px;
border-collapse: collapse;
-webkit-border-horizontal-spacing: 2px;
-webkit-border-vertical-spacing: 2px;
top: 2px;
z-index: 102;
}
#headNav tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
#headNav tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
#headNav td {
padding: 0;
display: table-cell;
vertical-align: middle;
}
#headNav .left {
width: 55%;
z-index: 103;
}
#headNav .center {
width: 0%;
z-index: 103;
}
#headNav .reght {
width: 25%;
z-index: 103;
}
.left_home{
height: 30px;
width: 45px;
float: left;
}
._home{
height: 30px;
width: 30px;
background-image: url('../Image/home.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
float: right;
}
@media screen and (min-width: 981px){
._home:hover{
opacity: 0.5;
}
}
.right_slider{
height: 30px;
width: 100%;
}
#logout {
height: 30px;
width: 30px;
background-image: url('../Image/logout_w.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 0 0;
float: right;
padding: 0 5px;
margin-right: 10px;
margin-left: 15px;
cursor: pointer;
}
#search-again-btn {
height: 30px;
width: 30px;
background-image: url('../Image/search_w.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 0 0;
float: right;
padding: 0 5px;
cursor: pointer;
}
._slider{
height: 30px;
width: 30px;
background-image: url('../Image/search.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 0 0;
float: right;
margin-right: 10px;
margin-left: 2px;
}
.right_slider_timeline{
position: absolute;
right: 60px;
}
._timeline{
height: 30px;
width: 30px;
background-image: url('../Image/timeline.png');
background-repeat: no-repeat;
background-size: 85%;
background-position: 50% 50%;
float: left;
z-index: 101;
}
.main_timeline{
z-index: 101;
}
#timeline_notificationCountArea{
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
color: #fff;
display: none;
font-size: 10px;
font-weight: bold;
overflow: hidden;
padding-bottom: 1px;
position: absolute;
right: -2.5px;
top: -4.5px;
z-index: 99;
}
#timeline_notificationCountArea span{
background-color: #f03d25;
border: 1px solid #d83722;
border-bottom: 1px solid #c0311e;
border-top: 1px solid #e23923;
-webkit-border-radius: 2px;
-webkit-box-shadow: 0 1px 0 rgba(0, 39, 121, .77);
display: block;
padding: 0 1px;
}
._home_text{
line-height: 30px;
font-size: 25px;
float: left;
margin-left: 5px;
font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
}
.left_area{
position: relative;
height: 30px;
float: left;
}
.left_area a{
position: absolute;
width: 100%;
height: 100%;
}
._home_arrow{
height: 30px;
line-height: 30px;
width: 10px;
text-align: right;
font-size: 20px;
}
#fiexd-header > div.search-again {
display: none;
position: absolute;
top: 0;
left: 0;
height: 44px;
width: 100%;
z-index: 102;
background: -webkit-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
background: -moz-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
background: -o-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#006BDC, endColorstr=rgb(61, 126, 255) no-repeat);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#006BDC, endColorstr=rgb(61, 126, 255) no-repeat)";
}
#fiexd-header > div.search-again > div.box {
position: relative;
margin: 6px 66px 6px 10px;
height: 32px;
}
#fiexd-header > div.search-again > div.box > input {
width: 100%;
border: 1px solid #ccc;
height: 32px;
line-height: 20px;
padding: 4px 6px;
font-size: 18px;
color: #444;
cursor: pointer;
vertical-align: top;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
#fiexd-header > div.search-again > div.leave {
position: absolute;
right: 10px;
top: 6px;
font-size: 18px;
line-height: 31px;
height: 30px;
padding: 1px 10px;
cursor: pointer;
color: #fff;
}