@media screen and (min-width: 981px){
.checkgroup_container,
.addgroup_container{
z-index: 301;
height: 80%;
width: 60%;
display: inline-block;
position: fixed;
left: 20%;
right: 20%;
top: 10%;
bottom: 10%;
background: whitesmoke;
box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-webkit-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-moz-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-o-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
}
.checkgroup_footer,
.addgroup_footer{
color: #FFF;
font-size: 18px;
line-height: 44px;
height: 44px;
font-family: Arial, sans-serif;
vertical-align: middle;
width: 60%;
left: 20%;
right: 20%;
bottom: 10%;
position: fixed;
background: #fff;
text-align: left;
border-top: 1px solid #aaa;
}
}
@media screen and (min-width: 601px) and (max-width: 980px){
.checkgroup_container,
.addgroup_container{
z-index: 301;
height: 90%;
width: 80%;
display: inline-block;
position: fixed;
left: 10%;
right: 10%;
top: 5%;
bottom: 5%;
background: whitesmoke;
box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-webkit-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-moz-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-o-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
}
.checkgroup_footer,
.addgroup_footer{
color: #FFFFFF;
font-size: 18px;
line-height: 44px;
height: 44px;
font-family: Arial, sans-serif;
vertical-align: middle;
width: 80%;
left: 10%;
right: 10%;
bottom: 5%;
position: fixed;
background: #fff;
text-align: left;
border-top: 1px solid #aaa;
}
}
@media screen and (max-width: 600px){
.checkgroup_container,
.addgroup_container{
z-index: 301;
height: 95%;
width: 95%;
display: inline-block;
position: fixed;
left: 2.5%;
right: 2.5%;
top: 2.5%;
bottom: 2.5%;
background: whitesmoke;
box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-webkit-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-moz-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-o-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
}
.checkgroup_footer,
.addgroup_footer{
color: #FFFFFF;
font-size: 18px;
line-height: 44px;
height: 44px;
font-family: Arial, sans-serif;
vertical-align: middle;
width: 95%;
left: 2.5%;
right: 2.5%;
bottom: 2.5%;
position: fixed;
background: #fff;
text-align: left;
border-top: 1px solid #aaa;
}
}
#checkgroup_background,
#addgroup_background{
background: rgba(0, 0, 0, 0.5);
padding: 0;
margin: 0;
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 350;
}
#checkgroup,
#addgroup{
width: 100%;
padding: 0px;
margin: 0;
position: absolute;
top: 0;
z-index: 350;
min-height: 100%;
border-right: 1px solid #CCC;
text-align: center;
}
.checkgroup_footer_right{
position: relative;
width: 100%;
height: 100%;
}
.checkgroup_keepers_footer_right{
position: relative;
width: 100%;
height: 100%;
}
.checkgroup_members_footer_right{
position: relative;
width: 100%;
height: 100%;
}
.checkgroup_footer_submit,
.checkgroup_footer_cancel{
position: relative;
float: right;
background: #006BDC;
padding: 0 20px;
margin: 6px 10px;
height: 30px;
line-height: 30px;
cursor: pointer;
font-size: 15px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.checkgroup_area{
overflow-y: scroll;
bottom: 42px;
position: absolute;
margin: 0;
width: 100%;
top: 42px;
background: #e5e5e5;
text-align: center;
border-top: 2px solid #d8d8d8;
}
.checkgroup_header{
position: absolute;
top: 0;
height: 42px;
width: 100%;
background: #fff;
}
.checkgroup_header_left {
position: absolute;
text-align: left;
width: auto;
}
.checkgroup_header_icon{
height: 44px;
position: relative;
width: 44px;
line-height: 44px;
display: inline-block;
background-image: url('../Image/group_black.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 100% 50%;
float: left;
margin-right: 5px;
}
.checkgroup_header_text{
position: relative;
height: 44px;
line-height: 44px;
font-size: 16px;
color: #444;
display: inline-block;
float: left;
margin-right: 5px;
}
.checkgroup_header_right_delect,
.checkgroup_header_right_modify{
position: relative;
float: right;
color: #737373;
}
#delete_group_center_btn2,
#delete_group_center_btn1{
position: absolute;
width: 100%;
height: 100%;
z-index: 301;
cursor: pointer;
left: 0;
top: 0;
}
.checkgroup_header_right_delect_icon{
height: 30px;
position: relative;
width: 44px;
line-height: 44px;
text-align: center;
margin: 0 5px 12px 5px;
background-image: url('../Image/trash.png');
background-repeat: no-repeat;
background-size: 40%;
background-position: 50% 50%;
opacity: 0.6;
}
.checkgroup_header_right_delect_text,
.checkgroup_header_right_modify_text{
height: 12px;
position: absolute;
width: 80%;
line-height: 12px;
font-size: 8px;
text-align: center;
margin: 2px 10% 0 10%;
bottom: 0;
}
.checkgroup_header_right_modify_icon{
height: 30px;
position: relative;
width: 44px;
line-height: 44px;
text-align: center;
margin: 0 5px 12px 5px;
background-image: url('../Image/modify.png');
background-repeat: no-repeat;
background-size: 45%;
background-position: 50% 50%;
opacity: 0.7;
}
.checkgroup_addkeeper_action,
.checkgroup_addmember_action{
position: relative;
height: 40px;
width: 100%;
float: left;
}
.checkgroup_addkeeper_action_text,
.checkgroup_addmember_action_text{
position: relative;
width: auto;
height: 40px;
line-height: 42px;
font-size: 18px;
text-align: left;
margin-left: 10px;
}
.checkgroup_addkeeper_action_add,
.checkgroup_addmember_action_add{
position: absolute;
right: 5px;
height: 30px;
top: 5px;
border: 1px solid #bbb;
cursor: pointer;
}
.checkgroup_addkeeper_action_add_icon,
.checkgroup_addmember_action_add_icon{
position: relative;
float: left;
width: 30px;
height: 30px;
background-image: url('../Image/add_01.png');
background-repeat: no-repeat;
background-size: 90%;
background-position: 50% 50%;
opacity: 0.8;
}
.checkgroup_addkeeper_action_add_text,
.checkgroup_addmember_action_add_text{
position: relative;
float: left;
line-height: 30px;
font-size: 14px;
color: #444;
padding: 0 5px;
}
.checkgroup_addkeeper_action_add a,
.checkgroup_addmember_action_add a{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: 301;
}
.checkgroup_keeper_wrapper,
.checkgroup_member_wrapper{
float: left;
position: relative;
width: 100%;
min-height: 50px;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
background: #f1f1f1;
margin-bottom: 30px;
}
.checkgroup_keeper_container,
.checkgroup_member_container{
width: 98%;
float: left;
position: relative;
margin: 1%;
overflow-y: auto;
min-height: 50px;
}
.checkgroup_keeper_container img,
.checkgroup_member_container img{
margin: 3px 5px;
position: relative;
float: left;
}
.checkgroup_keepers_container,
.checkgroup_members_container{
overflow-y: scroll;
bottom: 42px;
position: absolute;
margin: 0;
width: 100%;
top: 42px;
background: #e5e5e5;
text-align: center;
border-top: 2px solid #d8d8d8;
}
.checkgroup_keepers_container_item,
.checkgroup_members_container_item{
position: relative;
height: 50px;
width: 95%;
margin: 5px 2.5%;
border: 1px solid #bfbfbf;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
background: white;
}
.checkgroup_keepers_container_item img,
.checkgroup_members_container_item img{
float: left;
margin: 0 5px;
}
.checkgroup_keepers_container_itemText,
.checkgroup_members_container_itemText{
position: relative;
width: 100%;
height: 50px;
line-height: 50px;
cursor: pointer;
}
.checkgroup_members_container form{
background: white;
}
.addgroup_footer_right{
position: relative;
width: 100%;
height: 100%;
}
.addgroup_members_footer_right{
position: relative;
width: 100%;
height: 100%;
}
.addgroup_footer_submit,
.addgroup_footer_cancel{
position: relative;
float: right;
background: #006BDC;
padding: 0 20px;
margin: 6px 10px;
height: 30px;
line-height: 30px;
cursor: pointer;
font-size: 15px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.addgroup_area{
overflow-y: scroll;
bottom: 42px;
position: absolute;
margin: 0;
width: 100%;
top: 42px;
background: #e5e5e5;
text-align: center;
border-top: 2px solid #d8d8d8;
}
.addgroup_header{
position: absolute;
top: 0;
height: 42px;
width: 100%;
background: #fff;
}
.addgroup_header_left {
position: absolute;
text-align: left;
width: auto;
}
.addgroup_header_icon{
height: 44px;
position: relative;
width: 44px;
line-height: 44px;
display: inline-block;
background-image: url('../Image/group_black.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 100% 50%;
float: left;
margin-right: 5px;
}
.addgroup_header_text{
position: relative;
height: 44px;
line-height: 44px;
font-size: 16px;
color: #444;
display: inline-block;
float: left;
margin-right: 5px;
}
.addgroup_addmember_action{
position: relative;
height: 40px;
width: 100%;
float: left;
}
.addgroup_addmember_action_text{
position: relative;
width: auto;
height: 40px;
line-height: 42px;
font-size: 18px;
text-align: left;
margin-left: 10px;
}
.addgroup_addmember_action_add{
position: absolute;
right: 5px;
height: 30px;
top: 5px;
border: 1px solid #bbb;
cursor: pointer;
}
.addgroup_addmember_action_add_icon{
position: relative;
float: left;
width: 30px;
height: 30px;
background-image: url('../Image/add_01.png');
background-repeat: no-repeat;
background-size: 90%;
background-position: 50% 50%;
opacity: 0.8;
}
.addgroup_addmember_action_add_text{
position: relative;
float: left;
line-height: 30px;
font-size: 14px;
color: #444;
padding: 0 5px;
}
.addgroup_addmember_action_add a{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: 301;
}
.addgroup_member_wrapper{
float: left;
position: relative;
width: 100%;
min-height: 50px;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
background: #f1f1f1;
margin-bottom: 30px;
}
.addgroup_member_container{
width: 98%;
float: left;
position: relative;
margin: 1%;
overflow-y: auto;
min-height: 50px;
}
.addgroup_member_container img{
margin: 3px 5px;
position: relative;
float: left;
}
.addgroup_members_container{
overflow-y: scroll;
bottom: 42px;
position: absolute;
margin: 0;
width: 100%;
top: 42px;
background: #e5e5e5;
text-align: center;
border-top: 2px solid #d8d8d8;
}
.addgroup_members_container_item{
position: relative;
height: 50px;
width: 100%;
margin: 5px 0;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
background: white;
}
.addgroup_members_container_item img{
float: left;
margin: 0 5px;
}
.addgroup_members_container_itemText{
position: relative;
width: 100%;
height: 50px;
line-height: 50px;
cursor: pointer;
}
.addgroup_members_container form{
background: white;
}
.addgroup_name input{
position: relative;
width: 95%;
height: 35px;
font-size: 18px;
vertical-align: top;
border: 1px solid #ccc;
padding: 4px 6px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.addgroup_name_text{
position: relative;
width: auto;
height: 40px;
line-height: 42px;
font-size: 18px;
text-align: left;
margin-left: 10px;
}
.addgroup_name{
margin-bottom: 30px;
}
.nav_main_group_add{
float: left;
height: 45px;
width: 45%;
background-image: url('../Image/add_01.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 100% 50%;
}
.nav_main_group_add_inf{
height: 45px;
width: 55%;
position: relative;
margin-left: 45%;
text-align: left;
color: #222 !important;
font-size: 16px !important;
line-height: 45px;
}
.live_search_text_input{
margin: 5px 0 !important;
width: 100%;
height: 40px;
font-size: 1.1em;
text-align: center;
color: gray;
box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.checkgroup_friends_select_on{
cursor: not-allowed;
background-color: #CCC;
opacity: 0.5;
}
.checkgroup_keepers_select_on{
cursor: not-allowed;
background-color: #CCC;
opacity: 0.5;
}
.addgroup_friends_select_on{
cursor: not-allowed;
background-color: #CCC;
opacity: 0.5;
}