.tags_area_container {
    margin-top: 8px;
}
.tag_span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #b3b3b3;
    border-radius: 3px;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 1;
    margin: 4px;
    padding: 2px 4px;
    top: 0;
    cursor: pointer;
}