#tag_wrapper{
width: 100%;
padding: 0px;
margin: 0em auto 0em auto;
position: absolute;
top: 0px;
z-index: 301;
min-height: 100%;
border-right: 1px solid #CCC;
text-align: center;
}
#tag_wrapper_background{
z-index: 150;
background: rgba(0, 0, 0, 0.5);
padding: 0;
margin: 0;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.tag_area{
z-index: 301;
height: 95%;
width: 95%;
display: inline-block;
position: fixed;
top: 2.5%;
left: 2.5%;
background: whitesmoke;
box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-webkit-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-moz-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-o-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
}
.tag_header{
color: #FFFFFF;
font-size: 18px;
line-height: 44px;
height: 44px;
font-family: Arial, sans-serif;
vertical-align: middle;
width: 95%;
left: 2.5%;
position: fixed;
top: 2.5%;
background-color: #f5f5f5;
text-align: left;
}
.tag_container{
overflow-y: scroll;
top: 42px;
position: absolute;
margin: 0;
width: 100%;
min-height: 100px;
bottom: 10px;
background: #e5e5e5;
text-align: center;
border-top: 1px solid #d8d8d8;
}
.tag_header_left{
position: absolute;
text-align: left;
width: auto;
}
.tag_header_icon{
height: 44px;
position: relative;
width: 44px;
line-height: 44px;
display: inline-block;
background-image: url('../Image/tagspace_red.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 100% 50%;
float: left;
margin-right: 5px;
}
.tag_header_text{
position: relative;
height: 44px;
line-height: 44px;
font-size: 16px;
color: #444;
display: inline-block;
float: left;
margin-right: 5px;
}
.tag_header_arrow{
position: relative;
background: no-repeat url('../Image/google_plus_icon2.png') 0 -661px;
height: 16px;
width: 16px;
float: left;
margin-top: 14px;
}
.show_tags,
#leave_tag,
#show_manager_tags{
position: absolute;
width: 100%;
height: 100%;
z-index: 151;
cursor: pointer;
}
.tag_header_right_manager,
.tag_header_right_leave{
position: relative;
float: right;
color: #737373;
}
.tag_header_right_leave_icon{
height: 30px;
position: relative;
width: 44px;
line-height: 44px;
text-align: center;
margin: 0 0 12px 0;
background-image: url('../Image/leave_gray.png');
background-repeat: no-repeat;
background-size: 60%;
background-position: 50% 50%;
}
.tag_header_right_leave_text,
.tag_header_right_manager_text{
height: 12px;
position: absolute;
width: 80%;
line-height: 12px;
font-size: 8px;
text-align: center;
margin: 2px 10% 0 10%;
bottom: 0;
}
.tag_header_right_manager_icon{
height: 30px;
position: relative;
width: 44px;
line-height: 44px;
text-align: center;
margin: 0 0 12px 0;
background-image: url('../Image/add_01.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
opacity: .5;
}
.tag{
position: relative;
float: left;
margin: 10px 2.5%;
width: 95%;
text-align: center;
-webkit-box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
-moz-box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
-o-box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
background-color: white;
margin-top: 38px;
}
.tag_content{
position: relative;
}
.tag_content_selectarea{
position: absolute;
width: 20px;
height: 20px;
left: 10px;
top: 5px;
cursor: pointer;
opacity: 0.9;
z-index: 5;
text-align: center;
display: none;
}
.tag_content_selectarea_icon{
display: inline-block;
width: 20px;
margin: 1px;
height: 20px;
background-image: url('../Image/checkbox_black.png');
background-position: 50% 50%;
background-size: 100%;
background-repeat: no-repeat;
}
.tag_content_inf{
position: absolute;
width: 16px;
height: 16px;
right: 0;
top: 0;
background: no-repeat url('../Image/google_plus_icon.png') 20px -655px;
background-color: #fff;
cursor: pointer;
float: right;
z-index: 5;
opacity: 0.8;
padding: 5px 5px 5px 20px;
}
.tag_content_inf_field{
display: none;
background: #fff;
border: 1px solid #ccc;
cursor: default;
font-size: 13px;
margin: 0;
outline: none;
padding: 6px 0;
position: absolute;
z-index: 5;
top: 20px;
right: 5px;
box-shadow: 1px 1px 40px rgba(0,0,0,.3);
-webkit-box-shadow: 1px 1px 40px rgba(0,0,0,.3);
-moz-box-shadow: 1px 1px 40px rgba(0,0,0,.3);
-o-box-shadow: 1px 1px 40px rgba(0,0,0,.3);
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
-webkit-transition: opacity .218s;
-moz-transition: opacity .218s;
-o-transition: opacity .218s;
-ms-transition: opacity .218s;
transition: opacity .218s;
}
.tag_content_inf_field_content{
position: relative;
line-height: 30px;
cursor: pointer;
min-width: 100px;
text-align: center;
color: #333;
background: white;
margin: 2px 0;
border-bottom: 1px solid;
border-top: 1px solid;
border-color: white;
}
.tag_content_area{
position: relative;
padding: 9px;
border: 1px solid #fcfcfc;
}
.show_tag_content_area h2 {
font-size: 1.2em;
font-family: Arial, sans-serif;
font-weight: bold;
line-height: 1.5em;
padding: 0 0 0.5em 0;
margin: 0 4% 0 4% !important;
border-bottom: 1px solid #eee;
letter-spacing: 0;
color: #FFBB09;
text-align: center;
width: 92%;
position: relative;
}
.show_tag_content_area p {
color: #555;
margin: 8px 20px 8px 20px;
cursor: text;
font-size: 15px;
}
.show_tag_content_area .post_url {
color: #008000;
margin: 8px 20px 0 20px;
border-top: 0.1em solid #eee;
cursor: text;
font-size: 10px;
overflow-x: hidden;
}
.all_tags_inf{
position: relative;
float: left;
width: 95%;
font-size: 14px;
line-height: 16px;
text-align: left;
color: white;
background: #006BDC;
margin: 10px 2.5%;
cursor: pointer;
height: auto;
-o-border-radius: 16px;
-webkit-border-radius: 16px;
-moz-border-radius: 16px;
border-radius: 16px;
-webkit-box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
-moz-box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
-o-box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
}
.all_tags_inf_icon{
height: 32px;
position: relative;
width: 64px;
text-align: center;
margin: 16px 8px;
float: left;
background-image: url('../Image/tag_white.png');
background-repeat: no-repeat;
background-size: 30%;
background-position: 50% 50%;
}
.all_tags_inf_text{
height: 100%;
position: relative;
width: auto;
line-height: 64px;
text-align: left;
margin-left: 80px;
margin-right: 38px;
}
.tag_header_right_manager:after{
background: #444;
content: " ";
display: block;
height: 30px;
position: absolute;
right: 0;
top: 7px;
width: 1px;
}
.tag_content_color{
position: absolute;
width: 5px;
top: -1px;
bottom: -1px;
z-index: 160;
}
.tag_content_inf_field_content a{
position: absolute;
width: 100%;
height: 100%;
left: 0;
z-index: 152;
}
.tag_manager_addtag,
.tag_manager_managertag{
position: relative;
line-height: 30px;
cursor: pointer;
width: 150px;
text-align: center;
color: #333;
background: white;
margin: 2px 0;
border-bottom: 1px solid;
border-top: 1px solid;
border-color: white;
}
.tag_manager_addtag a,
.tag_manager_managertag a{
width: 100%;
height: 30px;
position: absolute;
left: 0;
z-index: 161;
}
.tag_manager_addtag_text,
.tag_manager_managertag_text{
position: absolute;
line-height: 30px;
width: 70%;
top: 0;
left: 30%;
}
.tag_manager_addtag_icon{
position: relative;
line-height: 30px;
width: 30%;
background-image: url('../Image/add_01.png');
opacity: 0.4;
background-repeat: no-repeat;
background-size: auto;
background-position: 50% 50%;
height: 30px;
}
.tag_manager_managertag_icon{
position: relative;
line-height: 30px;
width: 30%;
background-image: url('../Image/engine.png');
opacity: 0.6;
background-repeat: no-repeat;
background-size: 40%;
background-position: 50% 50%;
height: 30px;
}
.inline_addtag_header,
.inline_AddToTag_header,
.inline_ModifyTag_header,
.inline_tags_modifycard_header{
position: relative;
width: 100%;
border-bottom: 1px solid;
background: whitesmoke;
}
.inline_addtag_header_icon,
.inline_AddToTag_header_icon,
.inline_ModifyTag_header_icon,
.inline_tags_modifycard_header_icon{
height: 44px;
position: relative;
width: 44px;
line-height: 44px;
display: inline-block;
margin-right: 1%;
background-image: url('../Image/tagspace_red.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 100% 50%;
float: left;
}
.inline_addtag_header_name,
.inline_AddToTag_header_name,
.inline_ModifyTag_header_name,
.inline_tags_modifycard_header_name{
position: relative;
height: 44px;
line-height: 44px;
font-size: 16px;
color: #444;
text-align: left;
display: inline-block;
}
.inline_addtag_wrapper,
.inline_AddToTag_wrapper,
.inline_ModifyTag_wrapper,
.inline_tags_modifycard_wrapper{
position: relative;
width: 96%;
height: auto;
margin: 1% 2%;
float: left;
}
.inline_addtag_wrapper_name,
.inline_AddToTag_wrapper_name,
.inline_ModifyTag_wrapper_name,
.inline_tags_modifycard_wrapper_name,
.inline_tags_modifycard_wrapper_comment,
.inline_modifycard_wrapper_url{
position: relative;
width: 100%;
margin: 5% 0 0 0;
float: left;
}
.inline_addtag_wrapper_text,
.inline_AddToTag_wrapper_text,
.inline_tags_modifycard_wrapper_text{
position: relative;
text-align: left;
font-size: 22px;
line-height: 41px;
float: left;
width: 100%;
}
.inline_addtag_wrapper_input,
.inline_AddToTag_wrapper_input,
.inline_tags_modifycard_wrapper_input{
position: absolute;
margin: 0 1%;
left: 66px;
right: 0;
text-align: center;
float: left;
width: auto;
vertical-align: top;
}
#inline_addtag_wrapper_name,
#inline_ModifyTag_wrapper_name{
font-size: 20px;
width: 100%;
height: 35px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
#inline_tags_modifycard_wrapper_name,
#inline_tags_modifycard_wrapper_comment,
#inline_tags_modifycard_wrapper_url{
font-size: 15px;
width: 100%;
height: 41px;
cursor: pointer;
color: white;
box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
#inline_AddToTag_wrapper_name{
font-size: 20px;
width: 100%;
height: 35px;
margin: 0 2px;
cursor: pointer;
}
.tag_content_tagname{
position: absolute;
height: 28px;
line-height: 28px;
font-size: 18px;
left: 0;
cursor: pointer;
top: -28px;
}
.tag_content_tagname span{
padding: 1px 5px;
color: rgb(61, 126, 255);
margin-right: 5px;
}
.inline_addtag_wrapper_submit,
.inline_AddToTag_wrapper_submit,
.inline_ModifyTag_wrapper_submit,
.inline_ModifyTag_wrapper_remove,
.inline_tags_modifycard_wrapper_submit,
.inline_tags_modifycard_wrapper_remove{
width: 98%;
position: relative;
margin: 5% 1% 0 1%;
text-align: center;
font-size: 30px;
float: left;
}
.inline_addtag_wrapper_submit input,
.inline_AddToTag_wrapper_submit input,
.inline_ModifyTag_wrapper_submit input,
.inline_ModifyTag_wrapper_remove input,
.inline_tags_modifycard_wrapper_submit input,
.inline_tags_modifycard_wrapper_remove input{
width: 100%;
height: 44px;
font-size: 20px;
font-family: Arial, sans-serif;
font-weight: bold;
color: #FFFFFF;
background: -webkit-linear-gradient(bottom,rgb(24, 102, 184),rgb(61, 126, 255)) no-repeat;
background: -moz-linear-gradient(bottom,rgb(24, 102, 184),rgb(61, 126, 255)) no-repeat;
background: -o-linear-gradient(bottom,rgb(24, 102, 184),rgb(61, 126, 255)) no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgb(24, 102, 184), endColorstr=rgb(61, 126, 255) no-repeat);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=rgb(24, 102, 184), endColorstr=rgb(61, 126,	255) no-repeat)";
cursor: pointer;
}
.inline_AddToTag_header_addtag{
position: absolute;
right: 14px;
top: 7px;
height: 30px;
}
.inline_AddToTag_header_addtag input{
position: relative;
height: 30px;
padding: 0 5px;
border: 0;
font-weight: bold;
background: #006BDC;
color: #FFFFFF;
cursor: pointer;
}
.inline_AddToTag_header_addtag a{
width: 100%;
height: 30px;
position: absolute;
left: 0;
z-index: 5001;
}
.all_tags_ShowAll{
position: relative;
float: left;
width: 95%;
font-size: 14px;
line-height: 16px;
text-align: left;
color: white;
background: #006BDC;
margin-bottom: 10px;
cursor: pointer;
height: auto;
-webkit-box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
-moz-box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
-o-box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
box-shadow: 0px 3px 10px rgba(20%,20%,40%,0.5);
-o-border-radius: 16px;
-webkit-border-radius: 16px;
-moz-border-radius: 16px;
margin: 10px 2.5%;
border-radius: 16px;
}
.all_tags_ShowAll_text{
height: 100%;
position: relative;
width: auto;
line-height: 64px;
text-align: center;
}
.all_tags_inf_ModifyTag_area{
position: absolute;
right: 4px;
height: 100%;
width: 30px;
background-image: url('../Image/modify_white.png');
background-repeat: no-repeat;
background-size: 65%;
background-position: 50% 50%;
}
.all_tags_inf_ModifyTag{
position: absolute;
width: 100%;
height: 100%;
z-index: 5001;
}
#tag_container_CurrentTag{
position: relative;
height: 20px;
line-height: 20px;
color: #444;
}
@media screen and (min-width: 981px){
.all_tags_ShowAll:hover,
.all_tags_inf:hover{
opacity: 0.5;
font-weight: bold;
}
.tag_header_left:hover{
font-weight: bold;
opacity: 0.5;
}
.tag_header_right_manager:hover,
.tag_header_right_leave:hover{
color: black;
font-weight: bold;
opacity: 0.6;
}
.tag_content_inf_field_content:hover{
background: #f5f5f5;
border-color: #CCC;
font-weight: bold;
}
.tag_manager_addtag:hover,
.tag_manager_managertag:hover{
background: #f5f5f5;
border-color: #CCC;
font-weight: bold;	}
}
.tag_manager{
position: fixed;
width: 150px;
background: #fff;
border: 1px solid #ccc;
cursor: default;
font-size: 13px;
z-index: 160;
top: 2.5%;
margin-top: 20px;
margin-right: 63px;
right: 2.5%;
box-shadow: 1px 2px 30px rgba(0,0,0,.3);
-webkit-box-shadow: 1px 2px 30px rgba(0,0,0,.3);
-moz-box-shadow: 1px 2px 30px rgba(0,0,0,.3);
-o-box-shadow: 1px 2px 30px rgba(0,0,0,.3);
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-webkit-transition: opacity .218s;
-moz-transition: opacity .218s;
-o-transition: opacity .218s;
-ms-transition: opacity .218s;
transition: opacity .218s;
}
.tag_content_inf_field > .tag_content_inf_field_content:child-nth(3){
display: none;
}