html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
html{
height: 100%;
}
body{
font: normal 100% Helvetica, Arial, sans-serif;
overflow-x: hidden;
margin: 0em 0em 0em 0em !important;
background: #e5e5e5;
height: 100%;
z-index: 1;
}
#fiexd_header {
background: -webkit-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
background: -moz-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
background: -o-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#006BDC, endColorstr=rgb(61, 126, 255) no-repeat);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#006BDC, endColorstr=rgb(61, 126, 255) no-repeat)";
color: #FFFFFF;
border-bottom: 1px solid #222;
width: 100%;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 100;
}
#headNav {
width: 100%;
height: 42px;
color: #FFFFFF;
position: relative;
top: 0px;
z-index: 101;
}
#headNav table {
position: relative;
display: table;
width: 100%;
height: 38px;
border-collapse: collapse;
-webkit-border-horizontal-spacing: 2px;
-webkit-border-vertical-spacing: 2px;
top: 2px;
z-index: 102;
}
#headNav tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
#headNav tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
#headNav td {
padding: 0;
display: table-cell;
vertical-align: middle;
}
#headNav .left {
width: 21%;
z-index: 103;
}
#headNav .center {
width: 60%;
z-index: 103;
font-size: 22px;
line-height: 38px;
}
#headNav .reght {
width: 19%;
z-index: 103;
}
.left_back{
height: 30px;
width: 57px;
float: right;
}
._back{
height: 30px;
width: 57px;
line-height: 30px;
text-align: center;
font-size: 12px;
background-image: url('../Image/header_back.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
float: right;
}
.right_slider{
height: 30px;
width: 60px;
position: relative;
}
._start{
height: 30px;
width: 50px;
line-height: 30px;
text-align: center;
font-size: 12px;
background-image: url('../Image/header_btn.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 0 0;
float: left;
}
.left_area{
position: relative;
height: 30px;
float: left;
width: 67px;
}
.right_slider a{
position: absolute;
width: 50px;
height: 100%;
top: 0;
right: 10px;
cursor: pointer;
}
.left_area a{
position: absolute;
width: 57px;
height: 100%;
cursor: pointer;
top: 0;
left: 10px;
}
ul.todoList{
margin: 20px auto;
width: 100%;
position: relative;
max-width: 1200px;
}
ul.todoList li {
background: #F9F9F9;
border: 1px solid #EEEEEE;
list-style: none;
margin: 30px 5px;
padding: 5px;
position: relative;
cursor: n-resize;
-o-border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
margin-left: 45px;
}
.todo_text {
color: #777777;
font-size: 15px;
line-height: 30px;
height: 30px;
overflow: hidden;
}
.todo_actions{
position: absolute;
right: 5px;
top: 5px;
height: 30px;
}
.editTodo{
position: absolute;
right: 5px;
top: 5px;
height: 30px;
display: none;
}
.todo_actions_edit{
position: relative;
background-image: url('../Image/edit_b.png');
background-repeat: no-repeat;
background-size: 65%;
background-position: 50% 50%;
width: 30px;
height: 30px;
overflow: hidden;
float: left;
cursor: pointer;
z-index: 10;
}
.editTodo_cancel:before,
.todo_actions_delete:before{
background: #bbb;
content: " ";
display: block;
height: 24px;
position: absolute;
left: 0;
top: 3px;
width: 1px;
}
.todo_actions_delete {
position: relative;
background-image: url('../Image/trash_b.png');
background-repeat: no-repeat;
background-size: 56%;
background-position: 50% 50%;
margin-left: 1px;
width: 30px;
height: 30px;
overflow: hidden;
float: left;
cursor: pointer;
z-index: 10;
}
.editTodo_save{
position: relative;
background-image: url('../Image/save_b.png');
background-repeat: no-repeat;
background-size: 64%;
background-position: 50% 50%;
width: 30px;
height: 30px;
overflow: hidden;
float: left;
cursor: pointer;
z-index: 10;
}
.editTodo_cancel {
position: relative;
background-image: url('../Image/leave_b.png');
background-repeat: no-repeat;
background-size: 73%;
background-position: 50% 50%;
margin-left: 1px;
width: 30px;
height: 30px;
overflow: hidden;
float: left;
cursor: pointer;
z-index: 10;
}
.todo_creater{
position: absolute;
top: 41px;
height: 12px;
line-height: 12px;
font-size: 10px;
right: 0;
color: #666;
}
.todo_creater span:nth-child(2){
font-weight: bold;
}
.todo_checkbox{
position: absolute;
left: -40px;
top: 5px;
width: 30px;
height: 30px;
}
.todo_checkbox_icon{
position: relative;
width: 100%;
height: 100%;
background-image: url('../Image/checkbox_black.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 50% 50%;
cursor: pointer;
}
.todo_checkbox_icon_checked{
position: relative;
width: 100%;
height: 100%;
background-image: url('../Image/checkbox_blue.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 50% 50%;
cursor: pointer;
}
.todo_text input{
border: 1px solid #CCCCCC;
color: #666666;
font-size: 15px;
width: 90%;
height: 28px;
margin: 0;
padding: 0;
position: absolute;
}
.todo_overlay{
z-index: 1000;
background: #e5e5e5;
opacity: 0.5;
width: 100%;
padding: 0px;
margin: 0;
position: absolute;
top: 0;
left: 0;
height: 52px;
display: none;
}
#group_select_column{
position: relative;
width: 50%;
margin: 5px 25%;
height: 30px;
cursor: pointer;
}
.group_select{
margin: 0 auto;
width: 100%;
position: relative;
max-width: 1200px;
border-bottom: 1px solid white;
}
.group_select_text{
position: relative;
width: 100%;
text-align: center;
line-height: 20px;
height: 15px;
font-size: 10px;
color: #006BDC;
}
#select_member_background{
background: rgba(0, 0, 0, 0.5);
padding: 0;
margin: 0;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 150;
}
#select_member_wrapper{
width: 100%;
padding: 0px;
margin: 0em auto 0em auto;
position: absolute;
top: 0px;
z-index: 150;
min-height: 100%;
border-right: 1px solid #CCC;
text-align: center;
}
.select_member_container{
z-index: 151;
height: 95%;
width: 80%;
display: inline-block;
position: fixed;
top: 2.5%;
left: 10%;
background: whitesmoke;
box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-webkit-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-moz-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-o-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
}
.select_member_header{
color: #FFFFFF;
font-size: 18px;
line-height: 44px;
height: 44px;
font-family: Arial, sans-serif;
vertical-align: middle;
width: 80%;
left: 10%;
position: fixed;
bottom: 2.5%;
background-color: #f5f5f5;
text-align: left;
}
.select_member_header_left{
position: relative;
width: 100%;
height: 100%;
}
.select_member_header_submit,
.select_member_header_cancel{
position: relative;
float: right;
background: #006BDC;
padding: 0 20px;
margin: 6px 10px;
height: 30px;
line-height: 30px;
cursor: pointer;
}
.select_member_area{
overflow-y: scroll;
bottom: 42px;
position: absolute;
margin: 0;
width: 100%;
min-height: 100px;
top: 10px;
background: #e5e5e5;
text-align: center;
border-bottom: 4px solid #d8d8d8;
}
.select_member_container_item{
position: relative;
height: 50px;
width: 100%;
margin: 5px 0;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
background: white;
}
.select_member_container_item img{
float: left;
margin: 0 5px;
}
.select_member_container_itemText{
position: relative;
margin-left: 60px;
height: 50px;
line-height: 50px;
cursor: pointer;
}
.todo_target{
position: absolute;
width: 100%;
margin: 2.5px 0;
font-size: 12px;
line-height: 15px;
left: 0;
top: -20px;
}
.todo_target span{
padding: 1px;
margin-right: 5px;
color: rgb(0,128,255);
font-weight: bold;
}
#wrapper{
position: absolute;
top: 43px;
left: 0;
right: 0;
bottom: 0;
}
.container{
position: relative;
height: 100%;
width: 100%;
}
.dom_hidden{
overflow: hidden;
width: 0 !important;
height: 0 !important;
border: 0 !important;
margin: 0 !important;
padding: 0 !important;
}
@media screen and (min-width: 981px){
ul.todoList li:hover {
border-color: #9be0f9;
-o-box-shadow: 0 0 5px #A6E5FD;
-moz-box-shadow: 0 0 5px #A6E5FD;
-webkit-box-shadow: 0 0 5px #A6E5FD;
box-shadow: 0 0 5px #A6E5FD;
}
}