html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
html{
height: 100%;
}
body{
font: normal 100% Helvetica, Arial, sans-serif;
overflow-x: hidden;
margin: 0em 0em 0em 0em !important;
background: #e5e5e5;
height: 100%;
z-index: 1;
}
#fiexd_header {
background: -webkit-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
background: -moz-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
background: -o-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#006BDC, endColorstr=rgb(61, 126, 255) no-repeat);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#006BDC, endColorstr=rgb(61, 126, 255) no-repeat)";
color: #FFFFFF;
border-bottom: 1px solid #222;
width: 100%;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 100;
}
#headNav {
width: 100%;
height: 42px;
color: #FFFFFF;
position: relative;
top: 0px;
z-index: 101;
}
#headNav table {
position: relative;
display: table;
width: 100%;
height: 38px;
border-collapse: collapse;
-webkit-border-horizontal-spacing: 2px;
-webkit-border-vertical-spacing: 2px;
top: 2px;
z-index: 102;
}
#headNav tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
#headNav tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
#headNav td {
padding: 0;
display: table-cell;
vertical-align: middle;
}
#headNav .left {
width: 21%;
z-index: 103;
}
#headNav .center {
width: 60%;
z-index: 103;
font-size: 22px;
line-height: 38px;
}
#headNav .reght {
width: 19%;
z-index: 103;
}
.left_back{
height: 30px;
width: 57px;
float: right;
}
._back{
height: 30px;
width: 57px;
line-height: 30px;
text-align: center;
font-size: 12px;
background-image: url('../Image/header_back.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
float: right;
}
.right_slider{
height: 30px;
width: 60px;
position: relative;
}
._start{
height: 30px;
width: 50px;
line-height: 30px;
text-align: center;
font-size: 12px;
background-image: url('../Image/header_btn.png');
background-repeat: no-repeat;
background-size: auto;
background-position: 0 0;
float: left;
}
.left_area{
position: relative;
height: 30px;
float: left;
width: 67px;
}
.right_slider a{
position: absolute;
width: 50px;
height: 100%;
top: 0;
right: 10px;
cursor: pointer;
}
.left_area a{
position: absolute;
width: 57px;
height: 100%;
cursor: pointer;
top: 0;
left: 10px;
}
#search_process_info{
width: 90%;
height: 40px;
margin: 0 4% 0 4%;
position: relative;	}	#search_process_info_Icon{
height: 40px;
width: 40px;
float: left;
}
#search_process_info_Title{
font-weight: bold;
font-size: 1.5em;
float: left;
margin-top: 15px;
color: rgb(34, 172, 216);
}
#version{
font-weight: bold;
font-size: .9em;
float: left;
margin-top: 15px;
color: red;
}
#search_process_info_Content{	height :40px;
margin: 5px 4% 0 4%;
position: relative;
width: 90%;
}
path.link {
fill: none;
stroke: #666;
stroke-width: 1.5px;
}
path.link.resolved {
stroke-dasharray: 0,2 1;
}
circle {
fill: #ccc;
stroke-width: 1.5px;
}
text {
font: 10px sans-serif;
pointer-events: none;
}
text.shadow {
stroke: #fff;
stroke-width: 3px;
stroke-opacity: .8;
}
#wrapper{
position: absolute;
width: 100%;
top: 43px;
left: 0;
bottom: 0;
z-index: 1;
}
.container{
position: relative;
width: 100%;
height: 100%;
float: left;
}