html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}
	h1{
		font-size:1.0cm;
		color: #006BDC;
	}
	p{
		margin: 10px;
color: #222;
	}
	html{
		height: 100%;
	}
	body{
		font: normal 100% "Helvetica Neue",Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
		overflow-x: hidden;
		margin: 0em 0em 0em 0em !important;
		background: #ffffff;
		height: 100%;
		z-index: 1;
	}
	#fiexd_header {
		background: -webkit-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
		background: -moz-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
		background: -o-linear-gradient(bottom,#006BDC,rgb(61, 126, 255)) no-repeat;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#006BDC, endColorstr=rgb(61, 126, 255) no-repeat);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#006BDC, endColorstr=rgb(61, 126, 255) no-repeat)";
		color: #FFFFFF;
		border-bottom: 1px solid #222;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}
	#headNav {
		width: 100%;
		height: 42px;
		color: #FFFFFF;
		position: relative;
		top: 0px;
		z-index: 101;
	}
	#headNav table {
		position: relative;
		display: table;
		width: 100%;
		height: 38px;
		border-collapse: collapse;
		-webkit-border-horizontal-spacing: 2px;
		-webkit-border-vertical-spacing: 2px;
		top: 2px;
		z-index: 102;
	}
	#headNav tbody {
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;
	}
	#headNav tr {
		display: table-row;
		vertical-align: inherit;
		border-color: inherit;
	}
	#headNav td {
		padding: 0;
		display: table-cell;
		vertical-align: middle;
	}
	#headNav .left {
		width: 21%;
		z-index: 103;
	}
	#headNav .center {
		width: 60%;
		z-index: 103;
		font-size: 22px;
		line-height: 38px;
	}
	#headNav .reght {
		width: 19%;
		z-index: 103;
	}
	.left_back{
		height: 30px;
		width: 57px;
		float: right;
	}
	._back{
		height: 30px;
		width: 57px;
		line-height: 30px;
		text-align: center;
		font-size: 12px;
		background-image: url('../Image/header_back.png');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
		float: right;
	}
	.right_slider{
		height: 30px;
		width: 60px;
		position: relative;
	}
	._start{
		height: 30px;
		width: 50px;
		line-height: 30px;
		text-align: center;
		font-size: 12px;
		background-image: url('../Image/header_btn.png');
		background-repeat: no-repeat;
		background-size: auto;
		background-position: 0 0;
		float: left;
	}
	.left_area{
		position: relative;
		height: 30px;
		float: left;
		width: 67px;
	}
	.right_slider a{
		position: absolute;
		width: 50px;
		height: 100%;
		top: 0;
		right: 10px;
		cursor: pointer;
	}
	.left_area a{
		position: absolute;
		width: 57px;
		height: 100%;
		cursor: pointer;
		top: 0;
		left: 10px;
	}
#wrapper{
position: relative;
width: 100%;
margin: 0;
margin-top: 44px;
float: left;
}
#cooperation{
text-align: center;
width: 100%;
float: left;
}
#graphic{
text-align: center;
width: 100%;
float: left;
padding-top: 16px;
margin-top: 16px;
border-top: 5px solid #bbb;
}
#information{
text-align: center;
width: 100%;
float: left;
padding-top: 16px;
margin-top: 16px;
border-top: 5px solid #bbb;
border-bottom: 5px solid #bbb;
}
#cooperation > .feature,
#graphic > .feature,
#information > .feature{
position: relative;
width: 100%;
float: left;
padding: 16px 0;
margin: 16px 0;
}
@media screen and (min-width: 981px){
#cooperation > img,
#information > img{
max-width: 980px;
}
#cooperation_feature3 > img,
#cooperation_feature2 > img,
#graphic_feature1 > img,
#graphic_feature2 > img,
#information_feature1 > img,
#information_feature2 > img{
max-width: 980px;
}
#cooperation_feature1,
#cooperation_feature2{
border-top: 1px solid #ddd;
width: 50% !important
}
}
@media screen and (min-width: 601px) and (max-width: 980px){
#cooperation > img,
#information > img{
max-width: 90%;
}
#cooperation_feature3 > img,
#cooperation_feature2 > img,
#graphic_feature1 > img,
#graphic_feature2 > img,
#information_feature1 > img,
#information_feature2 > img{
max-width: 90%;
}
#cooperation_feature1{
border-top: 1px solid #ddd;
}
}
@media screen and (max-width: 600px){
#cooperation > img,
#information > img{
max-width: 95%;
}
#cooperation_feature3 > img,
#cooperation_feature2 > img,
#graphic_feature1 > img,
#graphic_feature2 > img,
#information_feature1 > img,
#information_feature2 > img{
max-width: 95%;
}
#cooperation_feature1{
border-top: 1px solid #ddd;
}
}